@font-face {
    font-family: "Famosa-heavy";
    src: url(./fonts/Famosa-HeavyDemo.otf)
}

@font-face {
    font-family: "MonicasSalonNF";
    src: url(./fonts/MonicasSalonNF.ttf)
}

@font-face {
    font-family: "MonicasSalonShadowNF";
    src: url(./fonts/MonicasSalonShadowNF.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-font-color: #0a0a48;
    --orange: #FF8800;
    font-family: "Famosa-heavy" "MonicasSalonNF" "MonicasSalonShadowNF" sans-serif;
}

.nav-mobile-button,
.header__heading {
    display: none;
}

.bar {
    width: 18px;
    height: 2px;
    padding: 1px;
    background: var(--main-font-color);
    margin-bottom: 2px;
}

body {
    color: var(--main-font-color);
    max-width: 100vw;
}

.page1 {
    height: 80vh;
    width: 100vw;
    background: url(./images/main-bg2.jpg) right no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

.header-nav {
    width: 100vw;
    height: 60px;
}

.icon {
    width: 20px;
    height: 20px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
}

.header-list li {
    list-style-type: none;
}

.header__links {
    font-family: sans-serif;
    font-weight: 600;
    margin: 20px;
    text-decoration: none;
    color: var(--main-font-color);
}

.header-icon2 {
    margin-right: 80px;
}

.main1-wrapper {
    width: 50vw;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main1 {
    position: absolute;
    top: 60px;
    height: 50%;
    width: 100%;
}

.main1__heading {
    font-size: 3.5rem;
    font-family: "Famosa-heavy";
}

.location-searchbar {
    display: flex;
    justify-content: stretch;
    margin: 10px 0 20px 0;
}

.input-box {
    background: white url(./images/searchicon.png) left no-repeat;
    background-size: 16px;
    padding: 10px;
    border: 0.5px solid grey;
    border-right-style: none;
    border-radius: 3px;
    width: 400px;
}

.dropdown {
    background: orange;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}

.social-links {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-font-color);
    font-weight: 600;
}

.viewcounts {
    padding: 0 40px 0 10px;
    font-family: sans-serif;
}

.page2 {
    background: url(./images/test2.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page2-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 40%;
    height: 50vh;
    margin-right: 150px;
}

.orange {
    color: var(--orange);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.page2__heading {
    font-size: 3.5rem;
}

.page2__text {
    color: var(--main-font-color);
    padding-bottom: 20px;
}

.discover-btn-container {
    width: 180px;
    height: 40px;
    background: var(--orange);
    display: flex;
    align-items: center;
    border-radius: 4px;
}

/* Need to add new image for arrow button */

.discover-btn {
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    padding: 0 15px;
}

.discover-arrow {
    background: rgba(255, 136, 0, .8);
}

.page3 {
    background: whitesmoke;
    width: 100vw;
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.page3__heading {
    font-size: 3rem;
    font-family: "Famosa-heavy";
    padding: 30px 0;

}

.page3-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    width: 90vw;
    height: 80vh;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.list-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul { 
    list-style-type: none;
}

.cuisine__links {
    padding: 5px 20px;
    text-decoration: none;
    width: 150px;
    color: var(--main-font-color);
    font-family: sans-serif;
    font-size: 1.25rem;
    border-bottom: 2px solid grey;
}

#orange {
    color: #FF8800;
}

.selected {
    border-bottom: 2px solid #FF8800;
}

.image-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-pics {
    height: 300px;
    width: 200px;
    margin: 30px 30px 10px 30px;
}

.page4 {
    width: 100vw;
    height: 100vh;
    background: url(./images/main-bg3.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.page4-wrapper {
    width: 90vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openings-container {
    width: 80vw;
    height: 30%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page4__heading {
    font-size: 3rem;
    margin: 20px 0;
}

.phone-icon {
    width: 40px;
    height: 40px;
}

.page4-text {
    font-family: sans-serif;
    font-size: 1.25rem;
    margin: 20px 0;
}

.phonenumber {
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

.openings {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: start;
}

.openings__time {
    font-family: "Famosa-heavy";
    font-size: 1.2rem;
    padding: 20px 0;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 50%;
}

.video {
    width: 55%;
    height: 80%;
}

.page5 {
    background: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 90%);
}

.page5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80%;

}

.heading-wrapper {
    width: 100%;
    height: 30%;
}

.review-wrapper {
    width: 100%;
    height: 60%;
}

.page5__heading {
    font-size: 3rem;
    margin-top: 40px;
}

.testimonials {
    margin: 100px;
    width: 3rem;
    height: 3rem;
}

.customer-review {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.customer {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.customer-name {
    font-family: "MonicasSalonNF";
    font-size: 1.7rem;
    text-decoration: none;
    padding: 20px;
}

.star-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-occupation {
    margin-bottom: -20px;
}

.stars {
    width: 80px;
    height: 80px;
}

.review {
    width: 50vw;
    font-style: italic;
    font-size: 1.25rem;
}

/* Mobile Media Queries */

@media screen and (max-width: 480px) {

    body {
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    
    .nav-mobile-button {
        display: inline-block;
    }

    /* .page1 {
        background: url(./images/main-bg5.jpg) no-repeat;
        background-size: 100%;
    } */

    .header-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px 16px;
    }

    .header__links {
        display: none;
    }

    .header__heading {
        display: inline-block;
        font-size: 1.5rem;
        color: var(--main-font-color);
        padding-left: 30px;
    }

    .page1 {
        width: 100vw;
    }

    .main1-wrapper {
        padding: 20px;
        height: 80%;
    }

    .main1__heading {
        font-size: 3.5rem;
    }

    .location-searchbar {
        width: 60vw;
    }

    .page2 {
        display: none;
    }

    .page2-wrapper {
        margin: 0;
        height: 90vh;
    }


    .page3 {
        width: 100vw;
        height: 180vh;
    }

    .page3__heading {
        padding: 20px 0;
    }

    .order {
        margin: 20px 0;
    }

    .list-parent {
        margin-bottom: 10px;
    }

    .page3-wrapper {
        padding: 0;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .cuisine__links {
        padding: 10px;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 90vw;
        justify-content: space-around;
    }

    .mobile {
        display: none;
    }
    
    .food-pics {
        position: relative;
        bottom: 0;
        width: 70%;
        height: 30%;
        margin: 0;
    }

    .list-container {
        width: 100%;
    }

    .page4 {
        padding: 0;
        width: 100vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .page4-wrapper {
        height: 100%;
        margin-top: 20px;
    }

    .page5 {
        height: 100vh;
    }
}

@media screen and (max-width: 1300px) {
    .page2__heading {
        font-size: 2rem;
    }

    .omit {
        display: none;
    }

    .video {
        height: 80%;
    }
}

@media screen and (max-width: 1000px) {

    .thousand {
        display: none;
    }

}


